
.home-logo {
	width: 13.5833rem;
	height: 12.3833rem;
	margin: 0 auto;
	margin-top:3.0667rem;
}

.home-title {
	width: 10.3rem;
	height: 1.6rem;
	margin: 0 auto;
	margin-top:1.5rem;
}
.btn-enter {
	font-size: 1.3rem;
	width: 9.6167rem;
	height: 2.7667rem;
	border-radius: 14px;
	text-align: center;
	line-height: 2.7667rem;
	margin: 0 auto;
	margin-top:4.3rem;
	color: #fff;
	background: -webkit-linear-gradient(top,#bbe4f9,#9ad7f6);
	background:    -moz-linear-gradient(top,#bbe4f9,#9ad7f6);
	background:		    linear-gradient(top,#bbe4f9,#9ad7f6);

}