.page-signin {
	background: url(../images/sign-bg.jpg) top center no-repeat #98d9f8;
	background-size: cover;
}
.logo-box { 
	position: absolute;
	width:11.5334rem ;
	height:15.3834rem ;
	top: 9.3667rem;
    left: 50%;
    margin-left: -5.75rem;
	background: url(../images/logo-box.png) top center no-repeat #98d9f8;
	background-size: cover;
}
.user-account ,
.user-pwd {
	width: 9.67rem;
	height: 1.67rem;
	line-height: 1.67rem;
	font-size: 0.67rem;
	padding: 0 8px;
	margin: 1.4rem auto 0 auto;
	border:1px solid #ebebeb;
	border-radius: 8px;
	background: #fafafa;
}
.user-pwd { margin-top:0.7rem;  }
.user-account label , 
.user-pwd label 
{	
	color: #d7d6d6;
	display: inline-block;
    width: 20%;
    float: left;
}
.user-account input ,
.user-pwd input
 {
	display: inline-block;
    width: 80%;
    padding: 0 8px;
    outline: none;
    border: none;
    background-color:rgba(0,0,0,0) ;
}
.btn {
	position: relative;
	width: 9.67rem;
	height: 1.5rem;
	margin: 0 auto;
	margin-top:0.7rem;
}
.btn .btn-submit {
	width: 5.64rem;
	height: 1.5rem;;
	font-size: 0.67rem;
	line-height: 1.5rem;
	color: #fff;
	text-align: center;
	border-radius: 8px;
	margin: 0 auto;
	background: -webkit-linear-gradient(top,#bbe4f9,#9ad7f6);
	               -moz-linear-gradient(top,#bbe4f9,#9ad7f6);
						linear-gradient(top,#bbe4f9,#9ad7f6);
}
.btn a {
	position: absolute;
	display: inline-block;
	padding: 0 4px; float: right;
	font-size: 0.67rem;
	line-height: 1.5rem;
	color: #98d9f8;
	top: 0;
    right: 0;
    border-bottom: 1px solid #98d9f8;
}

.sign-method { 
	position: absolute;
	width:100% ;
	height:12.8rem ;
	left: 0;
	bottom: 0;
	background: url(../images/cloud.png) top center no-repeat ;
	background-size: cover;
}
.three-method {
	width:13.3167rem ;
	height: 0.8667rem;
	margin:6.63rem auto 0 auto;
}
.three-method img {
	width:13.3167rem ;
	height: 0.8667rem;
}
.three-sign-icon {
	width:13.3167rem ;
	height: 1.9334rem; 
	margin: 1.6rem auto 0 auto;
}
.icons ,
.icons img {
	width:  1.9334rem; 
	height: 1.9334rem; 
}
.icons { margin-right: 28.222%; float: left; }
.icons-weixin {margin-right: 0; float: right; }